    <div class="editorial-loader" data-editorial-loader aria-hidden="true">
      <div class="editorial-loader__frame" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="editorial-loader__center">
        <p class="editorial-loader__micro">{{loaderMicro}}</p>
        <div class="editorial-loader__monogram" aria-label="{{loaderMarkLabel}}">
          <span>{{loaderMarkA}}</span>
          <span>{{loaderMarkB}}</span>
        </div>
        <div class="editorial-loader__seal" aria-hidden="true">
          <img src="{{basePath}}assets/loading/editorial-seal.jpg" alt="" />
        </div>
      </div>
    </div>
